node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.git
.gitignore
.dockerignore
Dockerfile*
docker-compose.yml
compose.yml
.idea/
.vscode/
.next
out
build
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
