__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.git
.gitignore
.dockerignore
Dockerfile*
docker-compose.yml
compose.yml
.idea/
.vscode/
tests/
media/
logs/
*.log
env_backup
.python-version
.pytest_cache/
